<h1 class="centered">Clients</h1>

<div class="return-button-container">
  <%= link_to "Return", root_path, class: "button-link return-button" %>
</div>

<%= link_to "New client", new_client_path, class: "button-link" %>

<table>
  <thead>
    <tr>
      <th>Surname</th>
      <th>Name</th>
      <th>Patronymic</th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.surname %></td>
        <td><%= client.name %></td>
        <td><%= client.patronymic %></td>
        <td><a href="/clients/<%= client.id %>">Show</td>
      </tr>
    <% end %>
  </tbody>
</table>
