<h1>Client Details</h1>

<div class="details">
  <ul>
    <li><strong>Name:</strong> <%= @client.name %></li>
    <li><strong>Surname:</strong> <%= @client.surname %></li>
    <li><strong>Patronymic:</strong> <%= @client.patronymic %></li>
    <li><strong>Email:</strong> <%= @client.email %></li>
    <li><strong>Phone Number:</strong> <%= @client.phone_number %></li>
  </ul>
</div>

<h2>Бронирования:</h2>
<div class="details">
  <ul>
    <% @client.bookings.each do |booking| %>
      <li>
        <%= link_to "#{booking.booking_date.strftime("%d %B %Y")} #{booking.tour.name}", tour_path(booking.tour.id) %>
      </li>
    <% end %>
  </ul>
</div>

<div class="actions">
  <%= link_to "Edit", edit_client_path(@client), class: "button-link" %><br>
  <%= button_to "Delete", @client, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button-link"%>
  <%= link_to "Back", clients_path, class: "button-link back-button" %>
</div>